<!DOCTYPE html>
<html>
  <head>
    <title>Zoe-Feedlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
    <div style="color: red; background:#ff0;padding: .25em;display: inline-block;margin:1em" class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  <%= render "shared/settings" if @user[:logged_in] %>
    <%= yield %>
  </body>
</html>
